@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
  background-image: url(../../img/pic5.jpg);
}
#header .inner {
  width: 1180px;
  height: 85px;
  margin: 0px auto;
  position: relative;
  border-bottom: 1px solid #ddd;
}
#header .inner::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner h1 {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  float: left;
}
#header .inner h1 a {
  display: block;
  font: bold 28px/1 "Jost", sans-serif;
  color: #eee;
}
#header .inner #gnb1 {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 200px;
}
#header .inner #gnb1 li {
  float: left;
  margin-right: 30px;
}
#header .inner #gnb1 li a {
  font: bold 14px/1 "Poppins", sans-serif;
  color: #eee;
}
#header .inner #gnb2 {
  width: 100%;
  position: absolute;
  top: 30px;
  right: 200px;
}
#header .inner #gnb2 li {
  float: right;
  margin-right: 30px;
}
#header .inner #gnb2 li a {
  font: bold 14px/1 "Poppins", sans-serif;
  color: #eee;
}
#header .inner #util {
  position: absolute;
  top: 30px;
  right: 0px;
}
#header .inner #util li {
  float: right;
  margin-right: 30px;
}
#header .inner #util li a {
  font: 14px/1 "Poppins", sans-serif;
  color: #eee;
}
#header .inner .btncall {
  display: block;
  position: absolute;
  top: 35px;
  left: 10px;
}
#header .inner .btncall i {
  font-size: 18px;
  color: #eee;
}

#footer {
  width: 100%;
  background: #000;
  padding: 120px 10px 30px;
}
#footer .inner {
  width: 1180px;
  margin: 0px auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#footer .upper .logo h1 {
  width: 30%;
  font: bold 30px/1 "Jost", sans-serif;
  color: #eee;
  margin-bottom: 15px;
}
#footer .upper .logo p:nth-of-type(1) {
  font: 15px/1 "Jost", sans-serif;
  color: #eee;
  margin-bottom: 100px;
}
#footer .upper .logo p:nth-of-type(2) {
  font: bold 20px/1 "Jost", sans-serif;
  color: #eee;
}
#footer .upper .logo p:nth-of-type(3) {
  font: 10px/1 "Jost", sans-serif;
  color: #eee;
}
#footer .upper .menu {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
#footer .upper .menu h1 {
  font: bold 15px/1 "Poppins", sans-serif;
  color: #eee;
  margin-bottom: 20px;
}
#footer .upper .menu li {
  gap: 40px;
  margin-bottom: 10px;
}
#footer .upper .menu li a {
  font: bold 11px/1 "Poppins", sans-serif;
  color: #bbb;
}
#footer .upper .sns h1 {
  font: bold 13px/1 "Poppins", sans-serif;
  color: #eee;
  margin-bottom: 20px;
}
#footer .upper .sns li i {
  display: block;
  font-size: 11px;
  color: #ddd;
  text-align: center;
  margin-bottom: 15px;
}
#footer .lower {
  font: 12px/1 "Jost", sans-serif;
  color: #eee;
}
#footer .lower p:nth-of-type(1) {
  float: left;
}
#footer .lower p:nth-of-type(2) {
  float: right;
}

#banner {
  width: 100%;
  padding: 150px 0px;
}
#banner .inner {
  width: 1180px;
  height: 400px;
  margin: 0px auto;
  position: relative;
}
#banner .inner p {
  font: bold 16px/1 "Jost", sans-serif;
  color: coral;
}
#banner .inner .txtBN {
  position: absolute;
  width: 60%;
  top: 50px;
  left: 30%;
  z-index: 2;
}
#banner .inner .txtBN h1 {
  font: bold 50px/1.3 "Jost", sans-serif;
  color: #222;
}
#banner .inner .txtBN h1 span {
  color: coral;
}
#banner .inner .txtBN h2 {
  font: 18px/1 "Jost", sans-serif;
}
#banner .inner .pic {
  position: absolute;
  right: 0px;
  bottom: 40px;
  width: 200px;
  height: 250px;
  z-index: 1;
}
#banner .inner .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#news {
  width: 100%;
  padding: 180px 0px;
}
#news .inner {
  width: 1180px;
  height: 535px;
  margin: 0px auto;
}
#news .inner h1 {
  font: bold 30px/1 "Jost", sans-serif;
  color: #333;
  margin-bottom: 30px;
}
#news .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#news .inner .wrap article:nth-of-type(1) {
  width: 570px;
  float: left;
  margin-right: 20px;
}
#news .inner .wrap article:nth-of-type(1) .pic {
  width: 500px;
  height: 340px;
  margin-bottom: 15px;
}
#news .inner .wrap article:nth-of-type(1) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#news .inner .wrap article:nth-of-type(1) .txt h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
#news .inner .wrap article:nth-of-type(1) .txt p {
  font: bold 18px/1.1 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#news .inner .wrap article:nth-of-type(1) .txt span {
  font: 12px/1 "Poppins", sans-serif;
  color: #666;
}
#news .inner .wrap article:nth-of-type(2),
#news .inner .wrap article:nth-of-type(3),
#news .inner .wrap article:nth-of-type(4) {
  width: 570px;
  float: right;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
#news .inner .wrap article:nth-of-type(2):last-child,
#news .inner .wrap article:nth-of-type(3):last-child,
#news .inner .wrap article:nth-of-type(4):last-child {
  border-bottom: 0px;
}
#news .inner .wrap article:nth-of-type(2) .pic,
#news .inner .wrap article:nth-of-type(3) .pic,
#news .inner .wrap article:nth-of-type(4) .pic {
  float: right;
  width: 150px;
  height: 100px;
  margin-bottom: 15;
}
#news .inner .wrap article:nth-of-type(2) .pic img,
#news .inner .wrap article:nth-of-type(3) .pic img,
#news .inner .wrap article:nth-of-type(4) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#news .inner .wrap article:nth-of-type(2) .txt,
#news .inner .wrap article:nth-of-type(3) .txt,
#news .inner .wrap article:nth-of-type(4) .txt {
  float: left;
  width: 380px;
}
#news .inner .wrap article:nth-of-type(2) .txt h2,
#news .inner .wrap article:nth-of-type(3) .txt h2,
#news .inner .wrap article:nth-of-type(4) .txt h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
#news .inner .wrap article:nth-of-type(2) .txt p,
#news .inner .wrap article:nth-of-type(3) .txt p,
#news .inner .wrap article:nth-of-type(4) .txt p {
  font: bold 18px/1.1 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#news .inner .wrap article:nth-of-type(2) .txt span,
#news .inner .wrap article:nth-of-type(3) .txt span,
#news .inner .wrap article:nth-of-type(4) .txt span {
  display: block;
  font: 12px/1 "Poppins", sans-serif;
  color: #666;
  margin-bottom: 30px;
}

#community {
  width: 100%;
  padding: 100px 0px;
  background: #efefef;
}
#community .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#community .inner h1 {
  font: bold 30px/1 "Jost", sans-serif;
  color: #333;
  margin-bottom: 30px;
}
#community .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#community .inner .wrap article:nth-of-type(1) {
  float: left;
  width: 280px;
}
#community .inner .wrap article:nth-of-type(1) .pic {
  width: 260px;
  height: 300px;
  margin-bottom: 20px;
}
#community .inner .wrap article:nth-of-type(1) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#community .inner .wrap article:nth-of-type(1) h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
#community .inner .wrap article:nth-of-type(1) h3 {
  font: bold 18px/1.1 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#community .inner .wrap article:nth-of-type(1) p {
  font: 12px/1 "Poppins", sans-serif;
  color: #777;
}
#community .inner .wrap article:nth-of-type(2) {
  float: left;
  width: 280px;
}
#community .inner .wrap article:nth-of-type(2) .txtBox {
  width: 260px;
  height: 300px;
  background-color: #aaa;
  padding: 100px 10px;
  box-sizing: border-box;
}
#community .inner .wrap article:nth-of-type(2) .txtBox h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
}
#community .inner .wrap article:nth-of-type(2) .txtBox h3 {
  font: bold 18px/1.3 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#community .inner .wrap article:nth-of-type(2) .txtBox p {
  font: 12px/1 "Poppins", sans-serif;
  color: #777;
}
#community .inner .wrap article:nth-of-type(3) {
  float: left;
  width: 580px;
}
#community .inner .wrap article:nth-of-type(3) .pic {
  width: 560px;
  height: 300px;
  margin-bottom: 20px;
}
#community .inner .wrap article:nth-of-type(3) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#community .inner .wrap article:nth-of-type(3) h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
#community .inner .wrap article:nth-of-type(3) h3 {
  font: bold 18px/1.1 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#community .inner .wrap article:nth-of-type(3) p {
  font: 12px/1 "Poppins", sans-serif;
  color: #777;
}

#science {
  width: 100%;
  padding: 180px 0px;
}
#science .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#science .inner h1 {
  font: bold 30px/1 "Jost", sans-serif;
  color: #333;
  margin-bottom: 30px;
}
#science .inner .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#science .inner .wrap h2 {
  font: bold 16px/1 "Poppins", sans-serif;
  color: #333;
  margin-bottom: 20px;
}
#science .inner .wrap p {
  font: 12px/1 "Poppins", sans-serif;
  color: #666;
}
#science .inner .wrap .pic img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
#science .inner .wrap article:nth-of-type(1) {
  width: 280px;
  height: 430px;
}
#science .inner .wrap article:nth-of-type(2) {
  width: 280px;
  height: 430px;
}
#science .inner .wrap article:nth-of-type(2) img {
  height: 200px;
}
#science .inner .wrap article:nth-of-type(3) {
  width: 580px;
  height: 430px;
}

#goods {
  width: 100%;
  padding: 170px 0px;
}
#goods .inner {
  width: 1180px;
  height: 523px;
  margin: 0px auto;
}
#goods .inner h1 {
  font: bold 30px/1 "Jost", sans-serif;
  color: #333;
  margin-bottom: 30px;
}
#goods .inner ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
#goods .inner ul li:last-child {
  border-bottom: 0px;
}
#goods .inner ul li .date p:nth-of-type(1) {
  font: bold 18px/1 "Poppins", sans-serif;
  color: coral;
  margin-bottom: 15px;
}
#goods .inner ul li .date p:nth-of-type(2) {
  font: bold 15px/1 "Poppins", sans-serif;
  color: gray;
}
#goods .inner ul li .txt a {
  font: bold 22px/1 "Poppins", sans-serif;
  color: #333;
  text-align: left;
}
#goods .inner ul li .txt p {
  margin-top: 15px;
  font: 15px/1 "Poppins", sans-serif;
  color: #999;
}
#goods .inner ul li .pic {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
}
#goods .inner ul li .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#visual {
  width: 100%;
  height: 100vh;
  padding: 165px 0px 190px;
  background-image: url(../../img/pic5.jpg);
  background-repeat: repeat;
  background-position: 0px 0px;
  background-size: cover;
}
#visual .inner {
  width: 1180px;
  height: 250px;
  margin: 0px auto;
}
#visual .inner p {
  font: 10px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
}
#visual .inner h1 {
  width: 45%;
  font: bold 30px/1.3 "Jost", sans-serif;
  color: #fff;
  margin-bottom: 15px;
}
#visual .inner span {
  font: 12px/1 "Jost", sans-serif;
  color: #ddd;
}
#visual .inner a {
  display: block;
  margin-top: 50px;
  font: 12px/1 "Jost", sans-serif;
  color: #eee;
}

/*# sourceMappingURL=style.css.map */
