@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #efefef;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

input,
label {
  vertical-align: middle;
}

.h {
  position: absolute;
  top: -99999px;
  opacity: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#header {
  width: 100%;
}
#header.main {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
}
#header.main .inner {
  border-bottom: 1px solid #ddd;
}
#header.main .inner h1 a {
  color: #fff;
}
#header.main .inner #gnb1 li a,
#header.main .inner #gnb2 li a,
#header.main .inner #util li a {
  color: #fff;
}
#header.main .inner .btncall i {
  color: #fff;
}
#header .inner {
  width: 1180px;
  height: 85px;
  margin: 0px auto;
  position: relative;
  border-bottom: 1px solid #aaa;
}
#header .inner::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner h1 {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  float: left;
}
#header .inner h1 a {
  display: block;
  font: bold 28px/1 "Jost", sans-serif;
  color: #333;
}
#header .inner #gnb1 {
  position: absolute;
  top: 30px;
  left: 200px;
}
#header .inner #gnb1 li {
  float: left;
  margin-right: 30px;
}
#header .inner #gnb1 li a {
  font: bold 14px/1 "Poppins", sans-serif;
  color: #333;
}
#header .inner #gnb2 {
  position: absolute;
  top: 30px;
  right: 200px;
}
#header .inner #gnb2 li {
  float: left;
  margin-right: 30px;
}
#header .inner #gnb2 li a {
  font: bold 14px/1 "Poppins", sans-serif;
  color: #333;
}
#header .inner #util {
  position: absolute;
  top: 30px;
  right: 0px;
}
#header .inner #util li {
  float: left;
  margin-right: 30px;
}
#header .inner #util li a {
  font: 14px/1 "Poppins", sans-serif;
  color: #333;
}
#header .inner .btncall {
  display: block;
  position: absolute;
  top: 35px;
  left: 10px;
}
#header .inner .btncall i {
  font-size: 18px;
  color: #333;
}

@media screen and (max-width: 1180px) {
  #header {
    width: 100%;
  }
  #header .inner {
    width: 100%;
  }
  #header .inner #gnb1 {
    display: none;
  }
  #header .inner #gnb2 {
    display: none;
  }
  #header .inner #util {
    display: none;
  }
}
#footer {
  width: 100%;
  background: #000;
  padding: 120px 10px 30px;
}
#footer .inner {
  width: 1180px;
  margin: 0px auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#footer .upper .logo h1 {
  width: 30%;
  font: bold 30px/1 "Jost", sans-serif;
  color: #eee;
  margin-bottom: 15px;
}
#footer .upper .logo p:nth-of-type(1) {
  font: 15px/1 "Jost", sans-serif;
  color: #eee;
  margin-bottom: 100px;
}
#footer .upper .logo p:nth-of-type(2) {
  font: bold 20px/1 "Jost", sans-serif;
  color: #eee;
}
#footer .upper .logo p:nth-of-type(3) {
  font: 10px/1 "Jost", sans-serif;
  color: #eee;
}
#footer .upper .menu {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
#footer .upper .menu h1 {
  font: bold 15px/1 "Poppins", sans-serif;
  color: #eee;
  margin-bottom: 20px;
}
#footer .upper .menu li {
  gap: 40px;
  margin-bottom: 10px;
}
#footer .upper .menu li a {
  font: bold 11px/1 "Poppins", sans-serif;
  color: #bbb;
}
#footer .upper .sns h1 {
  font: bold 13px/1 "Poppins", sans-serif;
  color: #eee;
  margin-bottom: 20px;
}
#footer .upper .sns li i {
  display: block;
  font-size: 11px;
  color: #ddd;
  text-align: center;
  margin-bottom: 15px;
}
#footer .lower {
  font: 12px/1 "Jost", sans-serif;
  color: #eee;
}
#footer .lower p:nth-of-type(1) {
  float: left;
}
#footer .lower p:nth-of-type(2) {
  float: right;
}

@media screen and (max-width: 1180px) {
  #footer {
    padding: 80px 30px 20px;
  }
  #footer .inner {
    width: 100%;
  }
  #footer .upper {
    flex-wrap: wrap;
  }
  #footer .upper .logo h1 {
    margin-bottom: 10px;
  }
  #footer .upper .logo p:nth-of-type(1) {
    font: 10px/1 "Jost", sans-serif;
    color: #eee;
    margin-bottom: 40px;
  }
  #footer .upper .logo p:nth-of-type(2) {
    display: none;
  }
  #footer .upper .logo p:nth-of-type(3) {
    display: none;
  }
  #footer .upper .menu {
    gap: 50px;
  }
  #footer .upper .sns {
    display: none;
  }
  #footer .lower p:nth-of-type(1) {
    float: none;
  }
  #footer .lower p:nth-of-type(2) {
    float: none;
  }
}
@media screen and (max-width: 639px) {
  #footer {
    padding: 80px 30px 20px;
  }
  #footer .inner {
    width: 100%;
  }
  #footer .upper {
    flex-wrap: wrap;
  }
  #footer .upper .logo h1 {
    margin-bottom: 10px;
  }
  #footer .upper .logo p:nth-of-type(1) {
    font: 10px/1 "Jost", sans-serif;
    color: #eee;
    margin-bottom: 40px;
  }
  #footer .upper .logo p:nth-of-type(2) {
    display: none;
  }
  #footer .upper .logo p:nth-of-type(3) {
    display: none;
  }
  #footer .upper .menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
  #footer .upper .sns {
    display: none;
  }
  #footer .lower p:nth-of-type(1) {
    float: none;
  }
  #footer .lower p:nth-of-type(2) {
    float: none;
  }
}
.content {
  width: 100%;
}
.content .subVisual {
  width: 100%;
  height: 250px;
  background: #555;
}
.content .inner {
  padding: 150px 10vw 100px;
  min-height: 800px;
}
.content .inner h1 {
  font: bold 55px/1 "Jost", sans-serif;
  color: #444;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1180px) {
  .content .inner {
    padding: 100px 10vw 80px;
  }
  .content .inner h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 639px) {
  .content .inner {
    padding: 80px 40px 60px;
  }
  .content .inner h1 {
    font-size: 24px;
  }
}
.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0px;
  padding: 100px;
  z-index: 5;
  opacity: 0;
  transition: opacity 1s;
}
.pop.on {
  opacity: 1;
}
.pop .con {
  width: 100%;
  height: 100%;
}
.pop .con iframe,
.pop .con video,
.pop .con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}
.pop .con img {
  object-fit: contain;
}
.pop .close {
  font: bold 14px/1 "arial";
  color: #fff;
  position: absolute;
  top: 30px;
  right: 50px;
  cursor: pointer;
}

#banner {
  width: 100%;
  padding: 150px 0px;
}
#banner .inner {
  width: 1180px;
  height: 400px;
  margin: 0px auto;
  position: relative;
}
#banner .inner p {
  font: bold 16px/1 "Jost", sans-serif;
  color: coral;
}
#banner .inner .txtBN {
  position: absolute;
  width: 60%;
  top: 50px;
  left: 30%;
  z-index: 2;
}
#banner .inner .txtBN h1 {
  font: bold 50px/1.3 "Jost", sans-serif;
  color: #222;
  transition: 0.5s;
}
#banner .inner .txtBN h1 span {
  color: coral;
}
#banner .inner .txtBN h2 {
  font: 18px/1 "Jost", sans-serif;
}
#banner .inner .pic {
  position: absolute;
  right: 0px;
  bottom: 40px;
  width: 200px;
  height: 250px;
  z-index: 1;
}
#banner .inner .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1180px) {
  #banner {
    padding: 100px 10vw 50px;
  }
  #banner .inner {
    width: 100%;
  }
  #banner .inner p {
    font: bold 16px/1 "Jost", sans-serif;
    color: coral;
  }
  #banner .inner .txtBN {
    width: 85%;
    top: 50px;
    left: 20%;
  }
  #banner .inner .txtBN h1 {
    font: bold 35px/1.3 "Jost", sans-serif;
  }
  #banner .inner .txtBN h2 {
    font: 18px/1 "Jost", sans-serif;
  }
  #banner .inner .pic {
    position: absolute;
    right: 0px;
    bottom: 40px;
    width: 200px;
    height: 250px;
  }
}
@media screen and (max-width: 639px) {
  #banner {
    padding: 100px 10vw;
  }
  #banner .inner {
    width: 100%;
  }
  #banner .inner p {
    font: bold 16px/1 "Jost", sans-serif;
    color: coral;
  }
  #banner .inner .txtBN {
    width: 85%;
    top: 50px;
    left: 20%;
  }
  #banner .inner .txtBN h1 {
    font: bold 20px/1.7 "Jost", sans-serif;
  }
  #banner .inner .txtBN h2 {
    font: 18px/1 "Jost", sans-serif;
  }
  #banner .inner .pic {
    position: absolute;
    right: 0px;
    bottom: 60px;
    width: 150px;
    height: 200px;
  }
}
#news {
  width: 100%;
  padding: 180px 0px;
}
#news .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#news .inner h1 {
  font: bold 30px/1 "Jost", sans-serif;
  color: #333;
  margin-bottom: 30px;
  position: relative;
}
#news .inner h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 900px;
  height: 1px;
  background: #000;
  margin-bottom: 30px;
}
#news .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#news .inner .wrap article:nth-of-type(1) {
  width: 570px;
  float: left;
  margin-right: 20px;
}
#news .inner .wrap article:nth-of-type(1) .pic {
  width: 500px;
  height: 340px;
  margin-bottom: 15px;
}
#news .inner .wrap article:nth-of-type(1) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#news .inner .wrap article:nth-of-type(1) .txt h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
#news .inner .wrap article:nth-of-type(1) .txt p {
  font: bold 18px/1.1 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#news .inner .wrap article:nth-of-type(1) .txt span {
  font: 12px/1 "Poppins", sans-serif;
  color: #666;
}
#news .inner .wrap article:nth-of-type(2),
#news .inner .wrap article:nth-of-type(3),
#news .inner .wrap article:nth-of-type(4) {
  width: 570px;
  float: right;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
#news .inner .wrap article:nth-of-type(2):last-child,
#news .inner .wrap article:nth-of-type(3):last-child,
#news .inner .wrap article:nth-of-type(4):last-child {
  border-bottom: 0px;
}
#news .inner .wrap article:nth-of-type(2) .pic,
#news .inner .wrap article:nth-of-type(3) .pic,
#news .inner .wrap article:nth-of-type(4) .pic {
  float: right;
  width: 150px;
  height: 100px;
  margin-bottom: 15;
}
#news .inner .wrap article:nth-of-type(2) .pic img,
#news .inner .wrap article:nth-of-type(3) .pic img,
#news .inner .wrap article:nth-of-type(4) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#news .inner .wrap article:nth-of-type(2) .txt,
#news .inner .wrap article:nth-of-type(3) .txt,
#news .inner .wrap article:nth-of-type(4) .txt {
  float: left;
  width: 380px;
}
#news .inner .wrap article:nth-of-type(2) .txt h2,
#news .inner .wrap article:nth-of-type(3) .txt h2,
#news .inner .wrap article:nth-of-type(4) .txt h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
#news .inner .wrap article:nth-of-type(2) .txt p,
#news .inner .wrap article:nth-of-type(3) .txt p,
#news .inner .wrap article:nth-of-type(4) .txt p {
  font: bold 18px/1.1 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#news .inner .wrap article:nth-of-type(2) .txt span,
#news .inner .wrap article:nth-of-type(3) .txt span,
#news .inner .wrap article:nth-of-type(4) .txt span {
  display: block;
  font: 12px/1 "Poppins", sans-serif;
  color: #666;
  margin-bottom: 30px;
}

@media screen and (max-width: 1180px) {
  #news {
    padding: 130px 10vw;
  }
  #news .inner {
    width: 100%;
  }
  #news .inner h1 {
    margin-bottom: 50px;
  }
  #news .inner .wrap article:nth-of-type(1),
  #news .inner .wrap article:nth-of-type(2),
  #news .inner .wrap article:nth-of-type(3),
  #news .inner .wrap article:nth-of-type(4) {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  #news .inner .wrap article:nth-of-type(1):last-child,
  #news .inner .wrap article:nth-of-type(2):last-child,
  #news .inner .wrap article:nth-of-type(3):last-child,
  #news .inner .wrap article:nth-of-type(4):last-child {
    border-bottom: 0px;
  }
  #news .inner .wrap article:nth-of-type(1) .pic,
  #news .inner .wrap article:nth-of-type(2) .pic,
  #news .inner .wrap article:nth-of-type(3) .pic,
  #news .inner .wrap article:nth-of-type(4) .pic {
    float: right;
    width: 150px;
    height: 100px;
    margin-bottom: 15px;
  }
  #news .inner .wrap article:nth-of-type(1) .pic img,
  #news .inner .wrap article:nth-of-type(2) .pic img,
  #news .inner .wrap article:nth-of-type(3) .pic img,
  #news .inner .wrap article:nth-of-type(4) .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #news .inner .wrap article:nth-of-type(1) .txt,
  #news .inner .wrap article:nth-of-type(2) .txt,
  #news .inner .wrap article:nth-of-type(3) .txt,
  #news .inner .wrap article:nth-of-type(4) .txt {
    float: left;
    width: 380px;
  }
  #news .inner .wrap article:nth-of-type(1) .txt h2,
  #news .inner .wrap article:nth-of-type(2) .txt h2,
  #news .inner .wrap article:nth-of-type(3) .txt h2,
  #news .inner .wrap article:nth-of-type(4) .txt h2 {
    font: bold 12px/1 "Jost", sans-serif;
    color: coral;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  #news .inner .wrap article:nth-of-type(1) .txt p,
  #news .inner .wrap article:nth-of-type(2) .txt p,
  #news .inner .wrap article:nth-of-type(3) .txt p,
  #news .inner .wrap article:nth-of-type(4) .txt p {
    font: bold 18px/1.1 "Poppins", sans-serif;
    color: #222;
    margin-bottom: 15px;
  }
  #news .inner .wrap article:nth-of-type(1) .txt span,
  #news .inner .wrap article:nth-of-type(2) .txt span,
  #news .inner .wrap article:nth-of-type(3) .txt span,
  #news .inner .wrap article:nth-of-type(4) .txt span {
    display: block;
    font: 12px/1 "Poppins", sans-serif;
    color: #666;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 639px) {
  #news {
    padding: 100px 5vw;
  }
  #news .inner {
    width: 100%;
  }
  #news .inner h1 {
    margin-bottom: 30px;
  }
  #news .inner .wrap article:nth-of-type(1),
  #news .inner .wrap article:nth-of-type(2),
  #news .inner .wrap article:nth-of-type(3),
  #news .inner .wrap article:nth-of-type(4) {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  #news .inner .wrap article:nth-of-type(1):last-child,
  #news .inner .wrap article:nth-of-type(2):last-child,
  #news .inner .wrap article:nth-of-type(3):last-child,
  #news .inner .wrap article:nth-of-type(4):last-child {
    border-bottom: 0px;
  }
  #news .inner .wrap article:nth-of-type(1) .pic,
  #news .inner .wrap article:nth-of-type(2) .pic,
  #news .inner .wrap article:nth-of-type(3) .pic,
  #news .inner .wrap article:nth-of-type(4) .pic {
    float: left;
    width: 300px;
    height: 250px;
    margin-bottom: 15px;
  }
  #news .inner .wrap article:nth-of-type(1) .pic img,
  #news .inner .wrap article:nth-of-type(2) .pic img,
  #news .inner .wrap article:nth-of-type(3) .pic img,
  #news .inner .wrap article:nth-of-type(4) .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #news .inner .wrap article:nth-of-type(1) .txt,
  #news .inner .wrap article:nth-of-type(2) .txt,
  #news .inner .wrap article:nth-of-type(3) .txt,
  #news .inner .wrap article:nth-of-type(4) .txt {
    float: left;
    width: 100%;
  }
  #news .inner .wrap article:nth-of-type(1) .txt h2,
  #news .inner .wrap article:nth-of-type(2) .txt h2,
  #news .inner .wrap article:nth-of-type(3) .txt h2,
  #news .inner .wrap article:nth-of-type(4) .txt h2 {
    font: bold 12px/1 "Jost", sans-serif;
    color: coral;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  #news .inner .wrap article:nth-of-type(1) .txt p,
  #news .inner .wrap article:nth-of-type(2) .txt p,
  #news .inner .wrap article:nth-of-type(3) .txt p,
  #news .inner .wrap article:nth-of-type(4) .txt p {
    font: bold 18px/1.1 "Poppins", sans-serif;
    color: #222;
    margin-bottom: 15px;
  }
  #news .inner .wrap article:nth-of-type(1) .txt span,
  #news .inner .wrap article:nth-of-type(2) .txt span,
  #news .inner .wrap article:nth-of-type(3) .txt span,
  #news .inner .wrap article:nth-of-type(4) .txt span {
    display: block;
    font: 12px/1 "Poppins", sans-serif;
    color: #666;
    margin-bottom: 30px;
  }
}
#community {
  width: 100%;
  padding: 100px 0px;
  background: #efefef;
}
#community .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#community .inner h1 {
  font: bold 30px/1 "Jost", sans-serif;
  color: #333;
  margin-bottom: 30px;
  position: relative;
}
#community .inner h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 800px;
  height: 1px;
  background: #999;
  margin-bottom: 30px;
}
#community .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#community .inner .wrap article:nth-of-type(1) {
  float: left;
  width: 280px;
}
#community .inner .wrap article:nth-of-type(1) .pic {
  width: 260px;
  height: 300px;
  margin-bottom: 20px;
}
#community .inner .wrap article:nth-of-type(1) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#community .inner .wrap article:nth-of-type(1) h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
#community .inner .wrap article:nth-of-type(1) h3 {
  font: bold 18px/1.1 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#community .inner .wrap article:nth-of-type(1) p {
  font: 12px/1 "Poppins", sans-serif;
  color: #777;
}
#community .inner .wrap article:nth-of-type(2) {
  float: left;
  width: 280px;
}
#community .inner .wrap article:nth-of-type(2) .txtBox {
  width: 260px;
  height: 300px;
  background-color: #aaa;
  padding: 100px 10px;
  box-sizing: border-box;
}
#community .inner .wrap article:nth-of-type(2) .txtBox h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
}
#community .inner .wrap article:nth-of-type(2) .txtBox h3 {
  font: bold 18px/1.3 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#community .inner .wrap article:nth-of-type(2) .txtBox p {
  font: 12px/1 "Poppins", sans-serif;
  color: #777;
}
#community .inner .wrap article:nth-of-type(3) {
  float: left;
  width: 580px;
}
#community .inner .wrap article:nth-of-type(3) .pic {
  width: 560px;
  height: 300px;
  margin-bottom: 20px;
}
#community .inner .wrap article:nth-of-type(3) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#community .inner .wrap article:nth-of-type(3) h2 {
  font: bold 12px/1 "Jost", sans-serif;
  color: coral;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
#community .inner .wrap article:nth-of-type(3) h3 {
  font: bold 18px/1.1 "Poppins", sans-serif;
  color: #222;
  margin-bottom: 15px;
}
#community .inner .wrap article:nth-of-type(3) p {
  font: 12px/1 "Poppins", sans-serif;
  color: #777;
}

@media screen and (max-width: 1180px) {
  #community {
    padding: 100px 30px;
  }
  #community .inner {
    width: 100%;
    margin: 0px auto;
  }
  #community .inner h1 {
    font: bold 30px/1 "Jost", sans-serif;
    color: #333;
    margin-bottom: 30px;
  }
  #community .inner .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  #community .inner .wrap article:nth-of-type(1) {
    float: none;
    width: 55%;
    margin-bottom: 30px;
  }
  #community .inner .wrap article:nth-of-type(1) .pic {
    width: 100%;
  }
  #community .inner .wrap article:nth-of-type(1) h2 {
    font: bold 12px/1 "Jost", sans-serif;
    color: coral;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  #community .inner .wrap article:nth-of-type(1) h3 {
    font: bold 18px/1.1 "Poppins", sans-serif;
    color: #222;
    margin-bottom: 15px;
  }
  #community .inner .wrap article:nth-of-type(1) p {
    font: 12px/1 "Poppins", sans-serif;
    color: #777;
  }
  #community .inner .wrap article:nth-of-type(2) {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  #community .inner .wrap article:nth-of-type(2) .txtBox {
    width: 55%;
  }
  #community .inner .wrap article:nth-of-type(2) .txtBox h2 {
    font: bold 12px/1 "Jost", sans-serif;
    color: coral;
    margin-bottom: 15px;
  }
  #community .inner .wrap article:nth-of-type(2) .txtBox h3 {
    font: bold 18px/1.3 "Poppins", sans-serif;
    color: #222;
    margin-bottom: 15px;
  }
  #community .inner .wrap article:nth-of-type(2) .txtBox p {
    font: 12px/1 "Poppins", sans-serif;
    color: #777;
  }
  #community .inner .wrap article:nth-of-type(3) {
    float: none;
    width: 100%;
  }
  #community .inner .wrap article:nth-of-type(3) .pic {
    width: 55%;
  }
  #community .inner .wrap article:nth-of-type(3) h2 {
    font: bold 12px/1 "Jost", sans-serif;
    color: coral;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  #community .inner .wrap article:nth-of-type(3) h3 {
    font: bold 18px/1.1 "Poppins", sans-serif;
    color: #222;
    margin-bottom: 15px;
  }
  #community .inner .wrap article:nth-of-type(3) p {
    font: 12px/1 "Poppins", sans-serif;
    color: #777;
  }
}
#science {
  width: 100%;
  padding: 180px 0px;
}
#science .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#science .inner h1 {
  font: bold 30px/1 "Jost", sans-serif;
  color: #333;
  margin-bottom: 30px;
  position: relative;
}
#science .inner h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 1000px;
  height: 1px;
  background: #999;
  margin-bottom: 30px;
}
#science .inner .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#science .inner .wrap article .pic img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  object-fit: cover;
}
#science .inner .wrap article h2 {
  font: bold 16px/1 "Poppins", sans-serif;
  color: #333;
  margin-bottom: 20px;
}
#science .inner .wrap article p {
  font: 12px/1 "Poppins", sans-serif;
  color: #666;
}
#science .inner .wrap article:nth-of-type(1) {
  width: 280px;
  height: 430px;
}
#science .inner .wrap article:nth-of-type(2) {
  width: 280px;
  height: 430px;
}
#science .inner .wrap article:nth-of-type(2) img {
  height: 200px;
}
#science .inner .wrap article:nth-of-type(3) {
  width: 580px;
  height: 430px;
}

@media screen and (max-width: 1180px) {
  #science {
    width: 100%;
    padding: 150px 30px 100px;
  }
  #science .inner {
    width: 100%;
  }
  #science .inner h1 {
    font: bold 30px/1 "Jost", sans-serif;
    color: #333;
    margin-bottom: 30px;
  }
  #science .inner .wrap {
    flex-direction: column;
  }
  #science .inner .wrap article {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  #science .inner .wrap article .pic {
    width: 55%;
    height: 250px;
    margin-bottom: 30px;
  }
  #science .inner .wrap article .pic img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  #science .inner .wrap article h2 {
    font: bold 16px/1 "Poppins", sans-serif;
    color: #333;
    margin-bottom: 20px;
  }
  #science .inner .wrap article p {
    font: 12px/1 "Poppins", sans-serif;
    color: #666;
  }
  #science .inner .wrap article:nth-of-type(1) {
    width: 100%;
    height: 100%;
  }
  #science .inner .wrap article:nth-of-type(2) {
    width: 100%;
    height: 100%;
  }
  #science .inner .wrap article:nth-of-type(3) {
    width: 100%;
    height: 100%;
  }
}
#goods {
  width: 100%;
  padding: 170px 0px;
}
#goods .inner {
  width: 1180px;
  height: 523px;
  margin: 0px auto;
}
#goods .inner h1 {
  font: bold 30px/1 "Jost", sans-serif;
  color: #333;
  margin-bottom: 30px;
  position: relative;
}
#goods .inner h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 1000px;
  height: 1px;
  background: #999;
  margin-bottom: 30px;
}
#goods .inner ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
#goods .inner ul li:last-child {
  border-bottom: 0px;
}
#goods .inner ul li .date p:nth-of-type(1) {
  font: bold 18px/1 "Poppins", sans-serif;
  color: coral;
  margin-bottom: 15px;
}
#goods .inner ul li .date p:nth-of-type(2) {
  font: bold 15px/1 "Poppins", sans-serif;
  color: gray;
}
#goods .inner ul li .txt a {
  font: bold 22px/1 "Poppins", sans-serif;
  color: #333;
  text-align: left;
}
#goods .inner ul li .txt p {
  margin-top: 15px;
  font: 15px/1 "Poppins", sans-serif;
  color: #999;
}
#goods .inner ul li .pic {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
}
#goods .inner ul li .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1180px) {
  #goods {
    width: 100%;
    padding: 150px 30px;
  }
  #goods .inner {
    width: 100%;
    height: 100%;
  }
  #goods .inner h1 {
    font: bold 30px/1 "Jost", sans-serif;
    color: #333;
    margin-bottom: 30px;
  }
  #goods .inner ul li .date p:nth-of-type(1) {
    font: bold 18px/1 "Poppins", sans-serif;
    color: coral;
    margin-bottom: 15px;
  }
  #goods .inner ul li .date p:nth-of-type(2) {
    font: bold 15px/1 "Poppins", sans-serif;
    color: gray;
  }
  #goods .inner ul li .txt a {
    font: bold 17px/1 "Poppins", sans-serif;
    color: #333;
    text-align: left;
  }
  #goods .inner ul li .txt p {
    margin-top: 13px;
    font: 15px/1 "Poppins", sans-serif;
    color: #999;
  }
  #goods .inner ul li .pic {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  #goods .inner ul li .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 639px) {
  #goods .inner {
    height: 100%;
  }
  #goods .inner ul li {
    flex-wrap: wrap;
  }
  #goods .inner ul li .date {
    margin-bottom: 10px;
  }
  #goods .inner ul li .date p:nth-of-type(1) {
    display: inline;
  }
  #goods .inner ul li .date p:nth-of-type(2) {
    display: inline;
  }
  #goods .inner ul li .txt {
    margin-bottom: 30px;
  }
  #goods .inner ul li .pic {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }
}
#visual {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#visual .swiper {
  width: 100%;
  height: 100%;
}
#visual .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1180px) {
  #visual .inner {
    width: 100%;
  }
  #visual .inner h1 {
    width: 70%;
    font: bold 35px/1.3 "Jost", sans-serif;
  }
}
@media screen and (max-width: 639px) {
  #visual .inner {
    width: 100%;
  }
  #visual .inner h1 {
    width: 70%;
    font: bold 20px/1.3 "Jost", sans-serif;
  }
}
#pop {
  width: 320px;
  height: 250px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #999;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#pop .content {
  width: 100%;
  height: 200px;
  padding: 20px;
  margin: 0px auto;
}
#pop .content .pic {
  width: 70px;
  height: 70px;
  margin: 0px auto;
  margin-bottom: 10px;
}
#pop .content .pic img {
  width: 100%;
  height: 100%;
}
#pop .content h2 {
  font: bold 28px/1 "Jost";
  color: #555;
  text-align: center;
  margin-bottom: 25px;
}
#pop .content p {
  font: 15px/1 "Jost";
  color: #666;
  text-align: center;
}
#pop .bottom {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pop .bottom .wrap label {
  font: 14px/1 "Jost";
  color: #555;
  margin-left: 2px;
}
#pop .bottom .btnClose {
  font: bold 12px/1 "jost";
  color: #777;
  letter-spacing: 1px;
}

.about .inner {
  margin: 0px auto;
}
.about .inner .SC1 {
  width: 100%;
  padding: 0px 50px;
  border-bottom: 1px solid #ccc;
}
.about .inner .SC1 h1 {
  font: bold 55px/1 "Jost", sans-serif;
  color: #444;
  text-align: center;
  margin-bottom: 0px;
  letter-spacing: 3px;
}
.about .inner .SC1 span {
  display: block;
  font: 14px/1 "Jost", sans-serif;
  color: #555;
  text-align: center;
  margin-bottom: 70px;
}
.about .inner .SC1 .pic1 {
  width: 70%;
  height: 350px;
  margin: 0px auto;
  margin-bottom: 50px;
}
.about .inner .SC1 .pic1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .inner .SC1 h2 {
  width: 90%;
  font: normal 20px/1.3 "Poppins", sans-serif;
  margin-bottom: 20px;
}
.about .inner .SC1 h3 {
  display: inline-block;
  width: 30%;
  text-align: left;
  font: 15px/1.3 "Poppins", sans-serif;
  margin-bottom: 10px;
}
.about .inner .SC2 {
  width: 100%;
  padding: 50px;
}
.about .inner .SC2 h1 {
  font: bold 40px/1 "Jost", sans-serif;
  color: #555;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 3px;
}
.about .inner .SC2 .pic2 {
  width: 800px;
  height: 300px;
  margin: 40px auto;
}
.about .inner .SC2 .pic2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.about .inner .SC2 .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.about .inner .SC2 .txt h3 {
  width: 50%;
  text-align: right;
  font: 15px/1.3 "Poppins", sans-serif;
  margin-bottom: 20px;
}
.about .inner .wrap {
  width: 100%;
  padding: 50px;
}
.about .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
.about .inner .wrap article {
  width: 33.3333333333%;
  float: left;
  padding: 50px;
  margin-bottom: 40px;
}
.about .inner .wrap article .pic {
  width: 200px;
  height: 200px;
  margin: 0px auto 20px;
}
.about .inner .wrap article .pic :hover {
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  transition: 0.3s;
}
.about .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.7;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.2);
}
.about .inner .wrap article .txt h2 {
  font: bold 22px/1 "Poppins", sans-serif;
  color: #444;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.about .inner .wrap article .txt p {
  font: 16px/1 "Poppins", sans-serif;
  color: #888;
  text-align: center;
  margin-bottom: 25px;
}
.about .inner .wrap article .sns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.about .inner .wrap article .sns a i {
  font-size: 15px;
  color: #fa9b9b;
}

@media screen and (max-width: 1180px) {
  .about .inner {
    width: 100%;
  }
  .about .inner .SC1 {
    padding: 30px;
  }
  .about .inner .SC1 .pic1 {
    width: 90%;
    height: 250px;
    margin: 0px auto;
    margin-bottom: 50px;
  }
  .about .inner .SC1 .pic1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about .inner .SC1 h2 {
    width: 90%;
    font: normal 17px/1.3 "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  .about .inner .SC1 h3 {
    display: inline-block;
    width: 40%;
    text-align: left;
    font: 13px/1.3 "Poppins", sans-serif;
    margin-bottom: 10px;
  }
  .about .inner .SC2 {
    padding: 30px;
  }
  .about .inner .SC2 .pic2 {
    width: 100%;
    margin: 20px auto;
  }
  .about .inner .wrap {
    padding: 30px;
  }
  .about .inner .wrap article {
    width: 50%;
    float: left;
    padding: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 639px) {
  .about .inner .SC1 .pic1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .about .inner .SC1 h2 {
    width: 100%;
  }
  .about .inner .SC1 h3 {
    display: block;
    width: 100%;
  }
  .about .inner .SC2 .pic2 {
    width: 100%;
    margin: 20px auto;
  }
  .about .inner .SC2 .txt {
    display: block;
    gap: 0px;
  }
  .about .inner .SC2 .txt h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  .about .inner .wrap article {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
}
.youtube .inner h1 {
  font: bold 50px/1 "Jost", sans-serif;
  color: #444;
  text-align: center;
  letter-spacing: 2px;
}
.youtube .inner p {
  text-align: center;
  font: 15px/1 "Jost", sans-serif;
  color: #555;
  margin-bottom: 50px;
}
.youtube .inner .wrap article {
  width: 100%;
  padding: 20px 20px;
  border: 1.5px solid #ddd;
  background: #efefef;
  margin-bottom: 30px;
}
.youtube .inner .wrap article .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.youtube .inner .wrap article .box .pic {
  width: calc(50% - 40px);
  height: 280px;
  margin: 0px auto;
  margin-bottom: 30px;
}
.youtube .inner .wrap article .box .pic :hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.youtube .inner .wrap article .box .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
}
.youtube .inner .wrap article .txt {
  width: 50%;
}
.youtube .inner .wrap article .txt h2 {
  font: bold 25px/1.2 "Poppins", sans-serif;
  color: #222;
  border-bottom: 1px solid #555;
  padding-bottom: 20px;
}
.youtube .inner .wrap article .txt p {
  padding-top: 20px;
  font: 15px/1.3 "arial";
  color: #666;
  margin-bottom: 40px;
}
.youtube .inner .wrap article .txt span {
  font: 12px/1 "arial";
  color: #666;
}
.youtube .inner .wrap article .txt a {
  font-size: 20px;
  float: right;
  color: #999;
}

@media screen and (max-width: 1180px) {
  .youtube .inner .wrap article .box {
    gap: 20px;
  }
  .youtube .inner .wrap article .box .pic {
    width: calc(50% - 20px);
  }
  .youtube .inner .wrap article .txt {
    width: 50%;
  }
  .youtube .inner .wrap article .txt h2 {
    font: bold 20px/1.2 "Poppins", sans-serif;
  }
  .youtube .inner .wrap article .txt p {
    font: 13px/1.3 "arial";
  }
  .youtube .inner .wrap article .txt span {
    font: 11px/1 "arial";
  }
}
@media screen and (max-width: 639px) {
  .youtube .inner .wrap article .box {
    display: block;
    gap: 20px;
  }
  .youtube .inner .wrap article .box .pic {
    width: 100%;
  }
  .youtube .inner .wrap article .txt {
    width: 100%;
  }
  .youtube .inner .wrap article .txt h2 {
    font: bold 20px/1.2 "Poppins", sans-serif;
  }
  .youtube .inner .wrap article .txt p {
    font: 13px/1.3 "arial";
  }
  .youtube .inner .wrap article .txt span {
    font: 11px/1 "arial";
  }
}
.gallery {
  width: 100%;
  background-color: rgb(229, 229, 229);
  overflow: hidden;
  position: relative;
}
.gallery h1 {
  font: bold 55px/1 "Jost", sans-serif;
  color: #444;
  text-align: center;
  margin-bottom: 0px;
}
.gallery h2 {
  text-align: center;
  font: 15px/1 "Jost", sans-serif;
  color: #555;
  margin-bottom: 50px;
}
.gallery .wrap {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.gallery .wrap.on {
  opacity: 1;
  transform: translateY(0px);
}
.gallery .wrap::after {
  content: "";
  display: block;
  clear: both;
}
.gallery .wrap li {
  width: 33.3333333333%;
  height: 500px;
  float: left;
  padding: 40px;
}
.gallery .wrap li > div {
  position: relative;
  width: 100%;
  height: 450px;
  background: #fff;
  padding: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}
.gallery .wrap li > div img {
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
  object-fit: cover;
  filter: grayscale(1);
}
.gallery .wrap li > div img:hover {
  filter: grayscale(0);
  transition: 0.3s;
}
.gallery .wrap li > div p {
  font: bold 20px/1 "arial";
  color: #111;
  margin-bottom: 20px;
  padding: 10px 0px;
  border-bottom: 1px solid #555;
}
.gallery .wrap li > div span {
  font: 14px/1 "arial";
  color: #555;
}
.gallery .wrap li > div i {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 18px;
  color: #555;
}

@media screen and (max-width: 1180px) {
  .gallery .wrap li {
    width: 50%;
  }
}
@media screen and (max-width: 639px) {
  .gallery .wrap li {
    width: 100%;
  }
}
.members .inner h1 {
  font: bold 50px/1 "" Jost ", sans-serif";
  color: #333;
  margin-bottom: 40px;
}
.members .inner .join {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}
.members .inner .join li {
  font: 16px/1 "맑은고딕";
  color: #333;
}
.members .inner form h2 {
  font: bold 20px/1 "맑은고딕";
  color: #333;
  margin-bottom: 20px;
}
.members .inner form .agreement {
  margin-bottom: 50px;
}
.members .inner form .agreement textarea {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
  font: 15px/1.8 "Poppins", sans-serif;
  color: #777;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid #aaa;
}
.members .inner form .agreement input {
  margin-left: 10px;
}
.members .inner form .agreement label {
  font-size: 11px;
  color: #888;
}
.members .inner form table {
  width: 100%;
  border: none;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.members .inner form table th,
.members .inner form table td {
  border: none;
  padding: 16px 25px;
  font: bold 15px/1 "Poppins", sans-serif;
  color: #555;
}
.members .inner form table th {
  width: 20%;
}
.members .inner form table th input[type=submit],
.members .inner form table th input[type=reset] {
  width: 20%;
  height: 40px;
  border: 1px solid #333;
  margin: 10px;
  font: bold 14px/40px "Poppins", sans-serif;
  color: #555;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 50px;
}
.members .inner form table th input[type=submit]:hover,
.members .inner form table th input[type=reset]:hover {
  background: #333;
  color: #fff;
}
.members .inner form table td input[type=text],
.members .inner form table td input[type=password],
.members .inner form table td input[type=email],
.members .inner form table td select,
.members .inner form table td textarea {
  width: 60%;
  background: rgba(0, 0, 0, 0.01);
  padding: 10px;
  border: 1px solid #bbb;
  resize: none;
}
.members .inner form table td input[type=text]:hover,
.members .inner form table td input[type=password]:hover,
.members .inner form table td input[type=email]:hover,
.members .inner form table td select:hover,
.members .inner form table td textarea:hover {
  background: rgba(0, 0, 0, 0.09);
}
.members .inner form table td input[type=checkbox],
.members .inner form table td input[type=radio] {
  margin-right: 30px;
}
.members .inner form table td p {
  color: hotpink;
  margin-top: 5px;
  font: 11px/1 "맑은 고딕";
}
.members .inner form table #comments {
  font-family: "맑은 고딕";
}

@media screen and (max-width: 1180px) {
  .members table th {
    display: none;
  }
  .members table th:last-child {
    display: inline;
  }
  .members table td {
    width: 100%;
  }
  .members table td #userid,
  .members table td #pwd1,
  .members table td #pwd2,
  .members table td #email,
  .members table td #edu,
  .members table td #comments {
    width: 100%;
  }
}
.location .inner {
  width: 1180px;
}
.location .inner h1 {
  font: bold 55px/1 "Jost", sans-serif;
  color: #444;
  text-align: center;
  margin-bottom: 0px;
}
.location .inner h2 {
  text-align: center;
  font: 15px/1 "Jost", sans-serif;
  color: #555;
  margin-bottom: 50px;
}
.location .inner #map {
  width: 100%;
  height: 400px;
  background: #111;
  position: relative;
  filter: grayscale(40%);
  transition: filter 0.5s;
}
.location .inner #map:hover {
  filter: saturate(100%);
}
.location .inner .txtwrap {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.location .inner .txtwrap .contact {
  width: 50%;
  padding: 20px;
  border: 1px solid #aaa;
}
.location .inner .txtwrap .contact p {
  font: bold 30px/1 "jost";
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}
.location .inner .txtwrap .contact input {
  width: 200px;
  height: 20px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
}
.location .inner .txtwrap .contact input:last-child {
  display: block;
  width: 150px;
  height: 30px;
  margin: 0px auto;
  font: bold 14px/30px "jost";
  color: #555;
  border: 1px solid #aaa;
  cursor: pointer;
}
.location .inner .txtwrap .contact label {
  font: bold 14px/1 "Jost";
  color: #555;
}
.location .inner .txtwrap .contact textarea {
  width: 300px;
  height: 80px;
  margin-top: 10px;
  display: block;
  resize: none;
  border: 1px solid #aaa;
  margin-bottom: 20px;
}
.location .inner .txtwrap .FAQ {
  width: 50%;
  border: 1px solid #aaa;
}
.location .inner .txtwrap .FAQ .btn {
  width: 100%;
}
.location .inner .txtwrap .FAQ .btn li {
  float: left;
  width: 33.3333333333%;
  height: 50px;
  display: block;
  font: bold 14px/50px "Jost";
  color: #999;
  background: #333;
  text-align: center;
  cursor: pointer;
}
.location .inner .txtwrap .FAQ .btn li.on {
  background: #efefef;
  color: #333;
}
.location .inner .txtwrap .FAQ .box {
  width: 100%;
}
.location .inner .txtwrap .FAQ .box li {
  width: 100%;
  height: 300px;
  display: none;
}
.location .inner .txtwrap .FAQ .box li.on {
  display: block;
}
.location .inner .txtwrap .FAQ .box li p {
  width: 100%;
  font: 18px/1 "jost";
  color: #555;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community .inner h1 {
  font: bold 55px/1 "Jost", sans-serif;
  color: #444;
  text-align: center;
  margin-bottom: 0px;
}
.community .inner h2 {
  text-align: center;
  font: 15px/1 "Jost", sans-serif;
  color: #555;
  margin-bottom: 50px;
}
.community .inner #slider {
  width: 700px;
  height: 450px;
  border: 1px solid #eee;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
}
.community .inner #slider .panel {
  width: 500%;
  height: 100%;
}
.community .inner #slider .panel::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner #slider .panel li {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
  padding: 50px;
}
.community .inner #slider .panel li h3 {
  font: bold 30px/1 "arial";
  margin-bottom: 20px;
}
.community .inner #slider .panel li p {
  font: 20px/1 "arial";
}
.community .inner #slider .panel li:nth-of-type(1) {
  background: #aaa;
}
.community .inner #slider .panel li:nth-of-type(2) {
  background: #bbb;
}
.community .inner #slider .panel li:nth-of-type(3) {
  background: #ccc;
}
.community .inner #slider .panel li:nth-of-type(4) {
  background: #ddd;
}
.community .inner #slider .panel li:nth-of-type(5) {
  background: #999;
}
.community .inner #slider .btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.community .inner #slider .btn li {
  float: left;
  width: 20px;
  height: 20px;
  background: #fff;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 50%;
}
.community .inner #slider .btn li.on {
  width: 80px;
  background: #333;
  border-radius: 30px;
}

.scrollBtn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  z-index: 2;
}
.scrollBtn li {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.scrollBtn li.on {
  height: 100px;
  background: #000;
}

/*# sourceMappingURL=style.css.map */
