.location {
	.subVisual {
		width: 100%;
		height: 250px;
		background-image: url(/img/pic36.jpg);
		background-position-y: 60%;

		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.5;
	}
	.inner {
		h1 {
			font: bold 55px/1 'Jost', sans-serif;
			color: #444;
			text-align: center;
			margin-bottom: 0px;
		}

		h2 {
			text-align: center;
			font: 15px/1 'Jost', sans-serif;
			color: #555;
			margin-bottom: 50px;
		}
		#map {
			// margin: 0px auto;
			width: 100%;
			height: 400px;
			background: #111;
			position: relative;
			filter: grayscale(40%);
			transition: filter 0.5s;

			&:hover {
				filter: saturate(100%);
			}
		}

		.txtwrap {
			width: 100%;
			margin-top: 20px;
			display: flex;
			justify-content: center;
			gap: 20px;

			.contact {
				width: calc(100% / 2);
				padding: 20px;
				border: 1px solid #aaa;
				p {
					font: bold 30px/1 'jost';
					color: #555;
					text-align: center;
					margin-bottom: 20px;
				}
				input {
					width: 200px;
					height: 20px;
					display: block;
					margin-top: 10px;
					margin-bottom: 20px;
					border: 1px solid #aaa;

					&:last-child {
						display: block;
						width: 150px;
						height: 30px;
						margin: 0px auto;
						font: bold 14px/30px 'jost';
						color: #555;
						border: 1px solid #aaa;
						cursor: pointer;
					}
				}
				label {
					font: bold 14px/1 'Jost';
					color: #555;
				}

				textarea {
					width: 300px;
					height: 80px;
					margin-top: 10px;
					display: block;
					resize: none;
					border: 1px solid #aaa;
					margin-bottom: 20px;
				}
			}

			.FAQ {
				width: calc(100% / 2);
				border: 1px solid #aaa;

				.btn {
					width: 100%;
					li {
						float: left;
						width: calc(100% / 3);
						height: 50px;
						display: block;
						font: bold 14px/50px 'Jost';
						color: #999;
						background: #333;
						text-align: center;
						cursor: pointer;
						&.on {
							background: #efefef;
							color: #333;
						}
					}
				}
				.box {
					width: 100%;
					li {
						width: 100%;
						height: 300px;

						display: none;
						&.on {
							display: block;
						}
						p {
							width: 100%;
							font: 18px/1 'jost';
							color: #555;
							padding: 30px;
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
		}
	}
}
