.location {
	.subVisual {
		width: 100%;
		height: 250px;
		background-image: url(/img/pic36.jpg);
		background-position-y: 60%;

		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.7;
		opacity: 0.5;
	}
	.inner {
		// margin: 0px auto;
		h1 {
			font: bold 55px/1 'Jost', sans-serif;
			color: #444;
			text-align: center;
			margin-bottom: 0px;
		}

		h2 {
			text-align: center;
			font: 15px/1 'Jost', sans-serif;
			color: #555;
			margin-bottom: 50px;
		}
		.locationWrap {
			display: flex;
			justify-content: center;
			flex-direction: row;
			gap: 20px;
			margin-bottom: 100px;
			#mapWrap {
				width: 70%;
				height: 600px;

				#map {
					width: 100%;
					height: 100%;
					background: #111;
					position: relative;
					filter: grayscale(40%);
					transition: filter 0.5s;

					&:hover {
						filter: saturate(100%);
					}
				}
				.branch {
					width: 100%;
					display: flex;
					cursor: pointer;
					li {
						display: inline-block;
						padding: 10px 20px;
						font: bold 14px/20px '맑은고딕';
						border: 1px solid #333;
						background: #eee;
						margin-top: 10px;
						margin-right: 10px;
					}
				}
			}

			.txtwrap {
				width: 30%;

				.contact {
					width: 100%;
					height: 350px;
					padding: 20px;
					border: 1px solid #aaa;
					display: inline-block;
					margin-bottom: 10px;

					p {
						font: bold 25px/1 'jost';
						color: #555;
						text-align: center;
						margin-bottom: 5px;
					}
					input {
						width: 250px;
						height: 30px;
						display: block;
						margin-top: 10px;
						margin-bottom: 10px;
						border: 1px solid #aaa;
						font-family: '돋움';
						padding: 2px 5px;

						&:last-child {
							display: block;
							width: 150px;
							height: 30px;
							margin: 0px auto;
							font: bold 14px/30px 'jost';
							color: #555;
							border: 1px solid #aaa;
							cursor: pointer;
							margin-bottom: 0;
							&:hover {
								background: #333;
								color: #fff;
							}
						}
					}
					label {
						font: bold 14px/1 'Jost';
						color: #555;
						margin-bottom: 10px;
					}
					textarea {
						width: 250px;
						height: 70px;
						margin-top: 10px;
						display: block;
						resize: none;
						border: 1px solid #aaa;
						margin-bottom: 15px;
						font-family: '돋움';
						padding: 5px 5px;
					}
				}

				.FAQ {
					width: 100%;
					height: 250px;
					border: 1px solid #aaa;

					.btn {
						width: 100%;
						li {
							float: left;
							width: calc(100% / 3);
							height: 45px;
							display: block;
							font: bold 14px/45px 'Jost';
							color: #999;
							background: #333;
							text-align: center;
							cursor: pointer;
							&.on {
								background: #fff;
								color: #333;
							}
						}
					}
					.box {
						width: 100%;
						li {
							width: 100%;
							height: 320px;

							display: none;
							&.on {
								display: block;
							}
							.question {
								width: 100%;
								font: bold 14px/1.3 'jost';
								color: #555;
								padding: 10px;
								display: flex;
								justify-content: space-between;
								align-items: center;
							}
							.answer {
								width: 100%;
								font: 14px/1.4 'jost';
								color: #555;
								padding: 15px;
								display: flex;
								justify-content: space-between;
								align-items: center;
							}
						}
					}
				}
			}
		}
	}
}
