.subCommunity {
	.subVisual {
		width: 100%;
		height: 250px;
		background: gray;
	}
	.inner {
		h1 {
			font: bold 55px/1 'Jost', sans-serif;
			color: #444;
			text-align: center;
			margin-bottom: 0px;
		}

		h2 {
			text-align: center;
			font: 15px/1 'Jost', sans-serif;
			color: #555;
			margin-bottom: 50px;
		}

		#list2 {
			table {
				width: 1000px;
				height: 400px;
				margin: 0px auto;
				text-align: center;
				border: none;
				th {
					border-bottom: 1px solid #555;
				}
				td {
					&:nth-of-type(2) {
						text-align: left;
						padding: 0px 80px;
					}
				}
			}
			.bottomNum {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				margin-top: 30px;
				li {
					font: normal 15px/1 'arial';
					color: #999;
					cursor: pointer;
					&.on {
						color: #111;
						font-weight: 700;
					}
				}
			}
		}

		// #list {
		// 	width: 800px;
		// 	height: 300px;
		// 	margin: 0px auto;
		// 	article {
		// 		width: 100%;
		// 		h3 {
		// 			font: bold 20px/1 'arial';
		// 			color: #555;
		// 			margin-bottom: 20px;
		// 		}
		// 		p {
		// 			font: 15px/1.2 'arial';
		// 			color: #555;
		// 			display: none;
		// 			margin-bottom: 30px;
		// 			background: #ddd;
		// 			padding: 20px 10px 50px;
		// 			&.on {
		// 				display: block;
		// 			}
		// 		}
		// 	}
		// }

		// #slider {
		// 	width: 700px;
		// 	height: 450px;
		// 	border: 1px solid #eee;
		// 	margin: 100px auto;
		// 	position: relative;
		// 	overflow: hidden;

		// 	.panel {
		// 		width: calc(100% * 5);
		// 		height: 100%;

		// 		&::after {
		// 			content: '';
		// 			display: block;
		// 			clear: both;
		// 		}
		// 		li {
		// 			width: calc(100% / 5);
		// 			height: 100%;
		// 			float: left;
		// 			text-align: center;
		// 			padding: 50px;
		// 			h3 {
		// 				font: bold 30px/1 'arial';
		// 				margin-bottom: 20px;
		// 			}
		// 			p {
		// 				font: 20px/1 'arial';
		// 			}

		// 			&:nth-of-type(1) {
		// 				background: #aaa;
		// 			}
		// 			&:nth-of-type(2) {
		// 				background: #bbb;
		// 			}
		// 			&:nth-of-type(3) {
		// 				background: #ccc;
		// 			}
		// 			&:nth-of-type(4) {
		// 				background: #ddd;
		// 			}
		// 			&:nth-of-type(5) {
		// 				background: #999;
		// 			}
		// 		}
		// 	}
		// 	.btn {
		// 		position: absolute;
		// 		bottom: 30px;
		// 		left: 30px;
		// 		li {
		// 			float: left;
		// 			width: 20px;
		// 			height: 20px;
		// 			background: #fff;
		// 			margin-left: 10px;
		// 			cursor: pointer;
		// 			transition: 0.5s;
		// 			border-radius: 50%;
		// 			&.on {
		// 				width: 80px;
		// 				background: #333;
		// 				border-radius: 30px;
		// 			}
		// 		}
		// 	}
		// }

		#slider2 {
			width: 1000px;
			height: 450px;
			border: 1px solid #ddd;
			margin: 100px auto;
			position: relative;
			overflow: hidden;

			.panel2 {
				width: 500%;
				height: 100%;
				margin-left: -100%;

				li {
					width: calc(100% / 5);
					height: 100%;
					padding: 50px;
					h3 {
						font: bold 35px/1 'jost';
						color: #333;
						margin-bottom: 50px;
						text-align: center;
					}
					p {
						font: 20px/1.5 'jost';
						color: #444;
					}

					float: left;

					&.p1 {
						background: rgb(246, 195, 204);
					}
					&.p2 {
						background: rgb(213, 243, 213);
					}
					&.p3 {
						background: rgb(239, 219, 183);
					}
					&.p4 {
						background: rgb(206, 241, 253);
					}
					&.p5 {
						background: rgb(240, 196, 237);
					}
				}
			}

			.prev {
				position: absolute;
				bottom: 20%;
				right: 150px;
				border: none;
				background: none;
				i {
					font-size: 30px;
					color: #777;
				}
			}
			.next {
				position: absolute;
				bottom: 20%;
				right: 100px;
				border: none;
				background: none;
				i {
					font-size: 30px;
					color: #777;
				}
			}
		}
	}
}
