@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

.youtube {
	background: #fff;
	.subVisual {
		width: 100%;
		height: 250px;
		background-image: url(../img/pic22.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.9;
	}
	.inner {
		h1 {
			font: bold 50px/1 'Jost', sans-serif;
			color: #444;
			text-align: center;
			letter-spacing: 2px;
		}
		> p {
			text-align: center;
			font: 15px/1 'Jost', sans-serif;
			color: #555;
			margin-bottom: 50px;
		}

		.upper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			margin-bottom: 100px;

			> p {
				width: 60%;
				font: 15px/1.5 'poppins';
				color: #555;
			}
			.pic {
				width: calc(40% - 30px);
				height: 230px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0.8;
				}
			}
		}

		.wrap {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: center;
			// gap: 10px;

			article {
				width: calc(100% / 3 - 40px);
				gap: 20px;
				border: 1.5px solid #ccc;
				margin-bottom: 80px;
				// display: flex;
				background: #fff;
				box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

				.box {
					.pic {
						width: 100%;
						height: 200px;
						margin: 0px auto;
						margin-bottom: 10px;
						cursor: pointer;
						overflow: hidden;
						:hover {
							transform: scale(1.1);
							opacity: 1;
							transition: 0.5s;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							opacity: 0.8;
						}
					}
				}

				.txt {
					padding: 10px;
					width: 100%;
					margin: 0px auto;

					h2 {
						font: bold 16px/1.1 'poppins', sans-serif;
						color: #555;
						border-bottom: 1px solid #555;
						padding-bottom: 10px;
					}
					p {
						padding-top: 10px;
						font: 12px/1.3 'poppins';
						color: #777;
						margin-bottom: 10px;
						text-align: left;
					}
					span {
						font: 11px/1 'poppins';
						color: #777;
					}

					a {
						font-size: 20px;
						float: right;
						color: #999;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $tablet) {
	.youtube {
		.inner {
			.upper {
				margin-bottom: 70px;

				> p {
					font: 14px/1.5 'poppins';
				}
				.pic {
					height: 200px;
				}
			}

			.wrap {
				article {
					width: calc(100% / 2 - 20px);
					margin-bottom: 50px;

					.box {
						.pic {
							height: 180px;
						}
					}

					.txt {
						h2 {
							font: bold 15px/1.2 'poppins', sans-serif;
						}
						p {
							font: 11px/1.2 'poppins';
						}
						a {
							font-size: 17px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.youtube {
		.inner {
			.upper {
				display: block;
				margin-bottom: 50px;

				> p {
					width: 100%;
				}
				.pic {
					display: none;
				}
			}

			.wrap {
				width: 100%;
				display: block;

				article {
					width: 100%;
				}
			}
		}
	}
}
