#header {
	width: 100%;
	position: relative;

	&.main {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 2;

		.inner {
			border-bottom: 1px solid #ddd;

			h1 {
				a {
					color: #fff;
				}
			}
			#gnb1,
			#gnb2,
			#util {
				li {
					a {
						color: #fff;
						&:hover {
							border-bottom: 2px solid rgb(248, 156, 122);
						}
					}
				}
			}
			.btncall {
				i {
					color: #fff;
				}
			}
		}
	}

	.inner {
		width: 1180px;
		height: 85px;
		margin: 0px auto;
		position: relative;

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		h1 {
			position: absolute;
			top: 15px;
			left: 50%;
			transform: translateX(-50%);
			float: left;

			a {
				display: block;
				font: bold 28px/1 'Jost', sans-serif;
				color: #333;
				text-align: center;
			}
		}
		#gnb1 {
			position: absolute;
			bottom: 10px;
			left: 150px;

			li {
				float: left;
				a {
					display: inline-block;
					padding: 20px;
					font: bold 14px/1 'Poppins', sans-serif;
					color: #333;

					&:hover {
						border-bottom: 2px solid rgb(248, 156, 122);
					}
				}
			}
		}

		#gnb2 {
			position: absolute;
			bottom: 10px;
			right: 150px;

			li {
				float: left;
				// border: 1px solid red;
				a {
					display: inline-block;
					padding: 20px;
					font: bold 14px/1 'Poppins', sans-serif;
					color: #333;
					&:hover {
						border-bottom: 2px solid rgb(248, 156, 122);
					}
				}
			}
		}

		#util {
			position: absolute;
			bottom: 10px;
			right: 10px;
			li {
				float: left;
				a {
					display: inline-block;
					padding: 20px 10px;
					font: 14px/1 'Poppins', sans-serif;
					color: #333;
				}
			}
		}
		.btncall {
			display: block;
			position: absolute;
			top: 35px;
			left: 10px;
			i {
				font-size: 18px;
				color: #333;
			}
		}
	}

	#mobilePanel {
		width: 100%;
		height: 100vh;
		background: #aeaeeb;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		// left: -280px;
		display: none;
		opacity: 0.9;
		&.on {
			display: block;
			transition: 0.5s;
		}

		h1 {
			position: absolute;
			top: 50px;
			left: 50%;
			transform: translateX(-50%);
			font: bold 30px/1 'jost';
			color: #111;
			margin-bottom: 20px;
			text-align: center;
		}

		#gnbMo {
			position: absolute;
			top: 150px;
			left: 50%;
			transform: translateX(-50%);

			li {
				padding: 0px 20px;
				margin-bottom: 30px;
				text-align: center;

				a {
					font: 20px/1.2 'jost';
					color: #333;
					&.on {
						color: coral;
					}
				}
			}
		}

		.close {
			position: absolute;
			top: 30px;
			left: 5%;
			font-size: 20px;
			color: #333;
		}
	}
}

@media screen and (max-width: $tablet) {
	#header {
		width: 100%;

		.inner {
			width: 100%;

			#gnb1 {
				display: none;
			}

			#gnb2 {
				display: none;
			}

			#util {
				display: none;
			}
		}
	}
}
